<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>translate</key>
	<string>AIzaSyAGi9-JNMsVYpkZIGBGElrHmDtGHzMNFzQ</string>
	<key>weather</key>
	<string>c4fc39e59162af554c59dcd027407898</string>
	<key>exchange</key>
	<string>d595ac5936090b6eea37cd18e76aa86b</string>
</dict>
</plist>
